@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #fed497;
  box-sizing: border-box;
}

.container{
  border-radius: 20px;
  position: absolute;
  margin: auto;
  background: #fff;
  width: 1200px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}