@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fed497;
  box-sizing: border-box;
}

.container{
  border-radius: 20px;
  position: absolute;
  margin: auto;
  background-color: #fff;
  width: 1338px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Header */
.main{
  justify-content: center;
  font-size: 10px;
  color: #bdb1b1;
  background-color: #fff;
  margin: 30px;
  display: flex;
}

.carousel{ 
  padding-right: 50px;
  display: block;
  border-right: 1px  #bdb1b1 solid;
  justify-content: left;
  width: 680px;
  height: 300px;
  position: relative;
  left: 35px;
}

.footer{
position: fixed;
color: rgba(0, 0, 0, 0.25);
text-align: center;
font-family: Familjen Grotesk;
font-size: 18px;
letter-spacing: 2.16px;
bottom: 0;
left: 0;
right: 0;
}
h1{
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Germania One;
font-size: 15px;
line-height: 124.6%;
letter-spacing: 3px
}
.inter{
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Germania One;
font-size: 18px;
line-height: 124.6%; /* 31.15px */
letter-spacing: 3px
}

.info{
  position: relative;
  box-shadow: 0px 4px 4px 4px rgba(170, 159, 159, 0.25);
  margin: 20px;
  margin-left: 70px;
  padding: 10px;
  width: 550px;
  font-size: 12px;
  height: 100px;
}

.location{
  border-right: 1px #bdb1b1 solid;
  padding-right: 50px;
  margin-left: 30px;
}

.contact{
  padding-left: 50px;
}